    div#mood, div#emotions {
      margin-left: 3%;
      margin-top: 20px;
    }
    .chart rect {
      stroke: white;
      fill-opacity: .6;
      fill: steelblue;

    }
    .bar.positive {
      fill: steelblue;
    }

    .bar.negative {
      fill: brown;
    }

    .axis text {
      font: 10px sans-serif;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
